extends layout

block content
	div#content.container
		div.row.buttons
			div.col-sm-3
				label &nbsp;
				button.btn.btn-warning.form-control(id="btn_location" type="button")
					i(class="glyphicon glyphicon-screenshot") &nbsp;
					span Hospitals near me
			div.col-sm-9
				label.text-muted(for="address") Where are you?
				div.input-group
					input(type="text" name="address" id="address" placeholder="Eg. Hillbrow, Johannesburg" class="form-control")
					span.input-group-btn
						button(id="btn_search" class="btn btn-primary" type="button") Go
		div.row
			div.col-sm-12
				h5.text-muted Find the best hospital near you based on official ratings by the Department of Health, and tell us what your visit was like.
		div.row
			div.col-sm-12
				div#finding_location.alert.alert-warning Finding location
		div.row#geolocation_error
			div.col-sm-12
				div.alert.alert-danger I'm sorry, we couldn't find your location :(
		div.row
			div.col-sm-12
				div#hospitals
					div.alert.alert-info The Code4SA City Press Find a Hospital App uses data from the Department of Health's 2011/2012 survey of its hospitals and clinics to help you find the best medical services close by. Simply enter an address above and click "Go", else click "Hospitals near me" to detect your current location.
	
	script(id="hospital-template" type="text/x-handlebars-template")
		include hospital.html
