extends layout

block content
	div.alert.alert-info The Code4SA City Press Find a Hospital App uses data from the Department of Health's 2011/2012 survey of its hospitals and clinics to help you find the best medical services close by. Simply enter an address above and click "Go", else click "Hospitals near me" to detect your current location.
	

