mixin stars(perc)
  - var count = Math.round(perc/20);
  - for (var i = 0; i < count; i++) {
    i.fa.fa-star
  - }
  - for (var i = count; i < 5; i++) {
    i.fa.fa-star-o
  - }

doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/bower_components/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/css/style.css')

    meta(property="og:type" content="article")
    meta(property="og:title" content=title)
    meta(property="og:description" content="Find the best public hospital wherever you are in South Africa")
    meta(property="og:site_name" content="Code4SA Hospital Finder")

    meta(name="viewport" content="width=device-width, initial-scale=1")
    body
      header
        div.container
          a(href="/")
            img(src="/images/heart.png" alt="Hospital Finder" class="pull-left")
          div.title
            a(href="/")
              h1 Find a Hospital
            h3.text-muted Find the best public hospitals near you

      div#main-content
        block content

      footer
        div.container
          div.row
            div.col-sm-6
              p
                | Developed by 
                a(href="http://code4sa.org") Code for South Africa
                | &nbsp;in partnership with 
                a(href="http://www.citypress.co.za") CityPress
              p
                a(href="https://data.code4sa.org/Health/South-African-Hospitals-Survey-2011-2012/ft5b-smjr") View the data
              
            div.col-sm-6.text-right
              a(href="http://code4sa.org")
                img#c4sa_logo.logo(src="/images/c4sa_logo.png")
              a(href="http://citypress.co.za")
                img#citypress_logo.logo(src="/images/citypress.png")

      script(src="/bower_components/jquery/dist/jquery.min.js")
      script(src="/bower_components/handlebars/handlebars.min.js")
      script(src="/javascripts/hospitals.js")
      script(src="/javascripts/analytics.js")
      
