#content {
  min-height: 200px;
}
#hospitals {
  margin-top: 10px;
}
.vspaced {
  margin-top: 5px;
  margin-bottom: 5px;
}
.buttons button {
  margin-bottom: 5px;
}
.logo {
  max-width: 100%;
  vertical-align: center;
  margin-top: 20px;
}
.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}
.fa-star,
.fa-star-o {
  color: #166bb0;
}
footer {
  text-align: center;
  background-color: #444;
  color: #aaa;
  min-height: 60px;
  padding: 20px;
  font-size: smaller;
}
footer a,
footer a:hover {
  color: #ccc;
  text-decoration: underline;
}
