#content {
  min-height: 200px;
}
.bigger {
  font-size: 1.5em;
}
#hospitals {
  margin-top: 10px;
}
.vspaced {
  margin-top: 5px;
  margin-bottom: 5px;
}
.buttons button {
  margin-bottom: 5px;
}
.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}
.fa-star,
.fa-star-o {
  color: #166bb0;
}
#main-content {
  min-height: 400px;
}
footer {
  background-color: #f5f5f5;
  color: #444;
  padding: 20px;
}
footer img {
  max-width: 100%;
  margin-bottom: 10px;
  margin-right: 10px;
}
footer #c4sa_logo {
  background-color: white;
  padding: 8px;
  max-height: 110px;
}
footer #citypress_logo {
  max-height: 45px;
}
